<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ammaryasser.mydocsbox">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/sketch_book"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.view.SplashScreen"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.main.view.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".ui.main.view.MainActivity" />

        <activity
            android:name=".ui.main.view.SearchActivity"
            android:label="@string/action_search"
            android:parentActivityName=".ui.main.view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.main.view.AddActivity"
            android:label="@string/activity_add">
            <!-- android:parentActivityName=".ui.main.view.MainActivity" -->

            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.view.DetailsActivity"
            android:label="@string/activity_details" />
        <!-- android:parentActivityName=".ui.main.view.MainActivity" -->

        <activity
            android:name=".ui.main.view.ProfileActivity"
            android:label="@string/activity_profile"
            android:parentActivityName=".ui.main.view.SettingsActivity" />

        <activity
            android:name=".ui.main.view.AboutActivity"
            android:theme="@style/AppTheme.Fullscreen" />

    </application>
</manifest>